---
- name: add group "tomcat"
  group: 
    name: tomcat

- name: add user "tomcat"
  user: 
    name: tomcat 
    group: tomcat 
    createhome: no

- name: Download Tomcat
  get_url: url=http://archive.apache.org/dist/tomcat/tomcat-8/v8.5.51/bin/apache-tomcat-8.5.51.tar.gz dest=/opt/apache-tomcat-8.5.51.tar.gz

- name: Unarchive
  unarchive:
    src: /opt/apache-tomcat-8.5.51.tar.gz
    dest: /opt
    remote_src: yes
    
#- name: Extract archive
#  command: chdir=/usr/share /bin/tar xvf /opt/apache-tomcat-8.5.51.tar.gz -C /opt/ creates=/opt/apache-tomcat-8.5.51
#  command: /bin/tar xvf /opt/apache-tomcat-8.5.51.tar.gz -C /opt/ 
#    creates: /opt/apache-tomcat-8.5.51

- name: Symlink install directory
  file: src=/opt/apache-tomcat-8.5.51 path="{{ TOMCAT_HOME }}" state=link

- name: Change ownership of Tomcat installation
  file: path="{{ TOMCAT_HOME }}" owner=tomcat group=tomcat state=directory recurse=yes

- name: Configure Tomcat users
  template: src=tomcat-users.xml dest="{{ TOMCAT_HOME }}/conf/"
  notify: restart tomcat

- name: Configure Tomcat server
  template: src=server.xml dest="{{ TOMCAT_HOME }}/conf/"
  notify: restart tomcat

- name: Install Tomcat init script
  copy: src=tomcat-initscript.sh dest=/etc/init.d/tomcat mode=0755

- name: Start Tomcat
  service: name=tomcat state=started enabled=yes
  become: True

- name: wait for tomcat to start
  wait_for: port={{http_port}}
